/* Navbar */

.navbar img{
    height: 80px;
    width: 80px;
}

.navbar{
    padding: 0;
    box-shadow: 0 .3px 10px black;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.navbar-nav{
    position: absolute;
    right: 0%;
}

.nav-item{
    padding: 0 2.5vw 0 2.5vw;
}

@media (max-width: 500px) {
    .navbar-brand{
        position: absolute;
    }

    .navbar{
        min-height: 100px;
    }

    .logo{
        position: absolute;
        left: -2%;

    }

    .cim{
        left: 38%;

    }

    .hamburger{
        position: absolute;
        left: 83%;
    }

    ul{
        display: inline-block;
    }

    li{
        display: inline;
    }

    div .col-xs-3{
        font-size: 20px;
        width: 60px;
        margin-left: 7%;
    }

    #gombok{
        margin-left: 0px !important;
    }

    .szoveg{
        text-align: center;
        margin-left: .1%;
    }

    .row {
        margin-right: 0;
        margin: 0;
    }

}

@media (max-width: 1000px){
    .cim {
        margin-left: -5%;
    }
}

/* Html */

body{
    color: white;
    overflow-x: hidden;
}

.container{
    position: relative;
}

.tortenet{
    background-image: url(Képek/feketemi);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -6vh;
    background-size: cover;
    opacity: .8;
    min-height: 650px;
}

hr{
    margin: 0 auto 20px;
    border: none;
    height: 3px;
    opacity: .8;
}

.tortenet hr{
    border: 3px solid white;
    width: 200px;
}

.termekek hr{
    border: 3px solid black;
    width: 50%;
}


.accordion{
    --bs-body-bg: none;
    --bs-accordion-active-bg: none;
    --bs-accordion-active-color: none;
    --bs-accordion-btn-color: white;
    --bs-border-color: none;
    --bs-body-color: white;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    opacity: 1.0;
}

.tortenet h1{
    padding-top: 60px;
    color: white;
}

.termekek h1{
    margin-top: 2%;
}

.button{
    position: relative;
    border-bottom: none;
    width: 50px;
   font-size: 30px;
   transition-duration: .3s;
}

.button:hover{
    transform: scale(130%);
    transition-duration: .3s;
}


.szoveg{
    text-align: center;
    padding: 0 30px;
    font-size: 20px;
}

#gombok{
    margin-left: 40%;
}

.card{
    margin: 30px 10px 10px 10px;
    transition-duration: .3s;
}

.card:hover{
    transform: scale(110%);
    transition-duration: .3s;
}